<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Cabinet Juridique</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/domaines">Domaines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/listeavocats">Avocats</a>
                </li>
                <li class="nav-item" *ngIf="isUserAdmin()">
                    <a class="nav-link" routerLink="liens" *ngIf="isUserAdmin()">Creation d'un lien</a>
                </li>
                <li class="nav-item" *ngIf="isUserAdmin()">
                    <a class="nav-link" routerLink="creationAvocat" *ngIf="isUserAdmin()">Ajout d'un avocat</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-success mx-3" routerLink="/connexion" *ngIf="notLogged()"> Connexion </button>
                <button class="btn btn-outline-success mx-3" routerLink="/inscription" *ngIf="notLogged()"> S'enregistrer </button>
            </form>
            <span class="navbar-item email" *ngIf="loggedIn()" >{{displayUserMail()}}</span>
            <a *ngIf="loggedIn()" (click)="logOut()" class="btn btn-danger">Déconnexion</a>
        </div>
    </div>
</nav>