<div class="card text-center center">
    <div class="card-header">
        <h1>Cabinet Juridique</h1>
        <p>Découvrez notre plateforme de gestion juridique, votre guichet unique pour toutes vos questions juridiques.
        </p>
        <p>Explorez une gamme complète de domaines spécialisés et parcourez notre liste soigneusement sélectionnée
            d'avocats expérimentés.</p>
        <p>Que vous ayez besoin de conseils ponctuels ou d'une représentation continue, notre interface conviviale vous
            permet de trouver l'expert juridique idéal pour répondre à vos besoins spécifiques.</p>
        <p>Simplifiez votre expérience juridique avec nous dès aujourd'hui.</p>
        <a class="btn btn-primary" routerLink="/domaines">Domaines</a> &nbsp; <a class="btn btn-primary" routerLink="/listeavocats">Avocats</a>

    </div>
    <div class="card-body">
        <img src="../../assets/images/palais_de_justice.jpg" class="card-img-top" alt="palais-de-justice" style="width: 75%;">
    </div>
</div>