<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="./acceuil.component.css">
</head>
<div class="bg-image">
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary py-5">
    <div class="container-fluid">
        <button type="button" class="btn btn-warning"> {{title}}</button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <button type="button" class="btn btn-warning"> Login </button>
                  <button type="button" class="btn btn-warning"> Sign up </button>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row min-vh-100">
      <div class="col d-flex justify-content-center align-items-center">
        <a type="button" class="btn btn-simple half-height-button opacity-75">Domaines</a>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <a type="button" routerLink="/listeavocats" class="btn btn-simple half-height-button opacity-75"> Avocats </a>
      </div>
    </div>
  </div>  
</div>
<router-outlet name="content"></router-outlet>
</html>
