<div class="row itemsBlock">
    <div *ngFor="let avocat of avocats" class="col-md-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-header text-center">
                {{avocat.nom_avocat}}
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{{avocat.nom_avocat}}</h5>
                <img class="card-img" src="{{avocat.photo}}">
            </div>
            <div class="card-footer">
                <ul class="list-group">
                    <li class="list-group-item list" *ngFor="let domaine of avocat.Domaines">
                        {{domaine.nom_domaine}}
                    </li>
                    <li class="list-group-item list">
                        <a class="btn btn-primary" routerLink="/details-avocat/{{avocat.id_avocat}}">Details</a>
                    </li>
                    <li class="list-group-item list">
                        <a class="btn btn-danger" (click)="deleteAvocat(avocat.id_avocat)" *ngIf="isUserAdmin()">Suppression</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>