<div class="card text-center" *ngIf="avocat">
    <div class="card-header">
        Details avocat
    </div>
    <div class="card-body">
        <img class="card-img" src="{{avocat[0].photo}}">
        <h5 class="card-title">{{avocat[0].nom_avocat}}</h5>
        <h5 class="card-title">Tel. {{avocat[0].coordonnees}}</h5>
        <h5 class="card-title">Honoraires: {{avocat[0].honoraires}} euros par consultation</h5>
        <h5 class="card-title">{{avocat[0].nom_avocat}}</h5>
        <div class="card-footer">
            <ul class="list-group">
                <li class="list-group-item list" *ngFor="let domaine of avocat[0].Domaines">
                    {{domaine.nom_domaine}}
                </li>
            </ul>
            <a class="btn btn-primary" (click)="getIdAvocat(avocat[0].id_avocat)" routerLink="/rendezvous">Prendre rendez-vous</a>
        </div>
    </div>
</div>